html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.donut-holder {
  width: 75%;
  justify-self: center;
}

.line-holder {
  width: 75%;
  justify-self: center;
}